<ion-header style="background-color: #f4f5f8;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Lotus Grocer
        </div>
        <ion-button (click)="showCategories($event)">Categories</ion-button>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button (click)="loginPopover()">Login</ion-button>
          <ion-button [routerLink]="['cart']">Cart</ion-button>
        </div>
        <ion-searchbar (click)="showSearch($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>