<ion-header style="background-color: #f4f5f8;">
  <ion-grid>
    <ion-row>
      <ion-col size="3" [routerLink]="['/']" style="outline: 0; cursor:pointer;">
        <div style="max-height:200px;max-width:200px;">
          <ion-img src="assets/images/logo.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-searchbar (click)="showSearch($event)"></ion-searchbar>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col>
            <div (click)="loginPopover()" style="cursor: pointer; padding-top:10px;" *ngIf="!canLogin">
              <span>Log in/Sign Up </span>
              <ion-icon style="font-size:28px;vertical-align:middle;" name="enter-outline"></ion-icon>
            </div>
            <div (click)="showProfile($event)" style="cursor: pointer; padding-top:10px;" *ngIf="canLogin">
              <span>{{username}} </span>
              <ion-icon style="font-size:24px;vertical-align:middle;" name="chevron-down-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col *ngIf="!isAdmin">
            <div [routerLink]="['cart']" style="display:flex;cursor: pointer; padding-top:10px; outline:0;">
              <div>Checkout </div>
              <div *ngIf="cartQuantity">
                <ion-icon style="font-size:28px;vertical-align: middle;" name="cart-outline"></ion-icon>
                <span class="cart-badge">{{cartQuantity}}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="border-top:1px solid grey;">
      <ion-col>
        <ion-button (click)="menu.toggle($event)">Categories <ion-icon style="font-size:24px;"
            name="chevron-down-outline"></ion-icon>
        </ion-button>
        <!-- <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button> -->
      </ion-col>
      <ion-col *ngIf="isAdmin" class="ion-text-end">
        <ion-button [routerLink]="['addproduct']" color="success">Add Product</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<p-tieredMenu #menu [model]="menuItems" [popup]="true"></p-tieredMenu>