<div class="ion-text-center">
    <h3>{{isNew? 'Add Address': 'Update Address'}}</h3>
</div>
<ion-content>
    <form [formGroup]="userAddress" (ngSubmit)=" onSubmit(userAddress.valid)">
        <!-- userAddress.valid && -->
        <span style="color: red;" *ngIf="userAddress.invalid">* Please fill all mandatory fields</span>
        <ion-grid>
            <ion-row *ngIf="editMainDetails && (user || address)" style="border: 1px solid; padding: 5px;">
                <ion-col size="8" *ngIf="isNew">
                    <ion-row>
                        <ion-label>Name: {{user.name}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label>Mobile: {{user.mobileNumber}}</ion-label>
                    </ion-row>
                </ion-col>
                <ion-col size="8" *ngIf="!isNew">
                    <ion-row>
                        <ion-label>Name: {{address.name}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-label>Mobile: {{address.phoneNumber}}</ion-label>
                    </ion-row>
                </ion-col>
                <ion-col size="4" class="ion-text-end">
                    <ion-icon name="create-outline" color="medium" (click)="editMainDetails = false"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!editMainDetails">
                <ion-col size="6">
                    <ion-label>
                        Name*
                    </ion-label>
                    <ion-input formControlName="name"></ion-input>
                </ion-col>
                <ion-col size="6">
                    <ion-label>
                        Mobile Number*
                    </ion-label>
                    <ion-input formControlName="phoneNumber"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row style="padding:3px;">
                <ion-col>
                    <span style="font-weight: 400; font-size: 18px;">
                        Address Info.
                    </span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-label>
                        Pincode*
                    </ion-label>
                    <ion-input formControlName="pincode"></ion-input>
                </ion-col>
                <ion-col size="6">
                    <ion-label>
                        City*
                    </ion-label>
                    <ion-input formControlName="city"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    <ion-label>
                        Flat/House No*
                    </ion-label>
                    <ion-input formControlName="homeNo"></ion-input>
                </ion-col>
                <ion-col size="6">
                    <ion-label>
                        Apartment
                    </ion-label>
                    <ion-input formControlName="apartment"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        Street*
                    </ion-label>
                    <ion-input formControlName="street"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        Landmark
                    </ion-label>
                    <ion-input formControlName="landmark"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        Area*
                    </ion-label>
                    <ion-input formControlName="area"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-label>
                        Address Type*
                    </ion-label>
                </ion-col>
                <ion-col size="8">
                    <ion-radio-group value="HOME" formControlName="type">
                        <ion-radio value="HOME" name="home"></ion-radio>
                        <ion-label>&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>

                        <ion-radio value="WORK" name="office"></ion-radio>
                        <ion-label>&nbsp;&nbsp;Work</ion-label>
                    </ion-radio-group>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-checkbox color="secondary" formControlName="primaryAddress"></ion-checkbox>
                    <ion-label>
                        Set this as my default delivery address
                    </ion-label>
                </ion-col>
            </ion-row>
            <div>
                <ion-button type="submit" expand="full" color="medium">{{isNew ? 'Add': 'Update'}}</ion-button>
            </div>
        </ion-grid>
    </form>
</ion-content>