<h1>Categories</h1>
<ion-grid>
    <ion-row>
        <ion-col size="2" *ngFor="let category of categories">
            <div class="ion-text-center">
                <ion-icon src="/assets/icons/Fresh.svg" (click)="loadSubCategories(category.sub)"
                    (mouseleave)="closeSubCategories()" #tar></ion-icon>
            </div>
            <div class="ion-text-center">
                <span>
                    {{category.name}}
                </span>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>