<ion-grid class="ion-padding">
    <ion-row>
        <ion-col size="2" *ngFor="let category of categories">
            <div id="{{category.id}}" (mouseenter)="showSub($event, category)" style="cursor: pointer;">
                <div class="ion-text-center" [routerLink]="['products', category.id]" style="outline:0; cursor:pointer;">
                    <ion-icon src="/assets/icons/Fresh.svg"></ion-icon>
                </div>
                <div class="ion-text-center">
                    <span>
                        {{category.name}}
                    </span>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
