<div>
  <h3>My Cart</h3>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-grid>
          <ion-row style="background-color: grey;">
            <ion-col size="5">Product</ion-col>
            <ion-col size="2">Per Unit Price</ion-col>
            <ion-col size="3">Quantity</ion-col>
            <ion-col size="2">Amount</ion-col>
          </ion-row>
          <ion-row *ngFor="let i of [].constructor(3)">
            <ion-col size="5">
              <ion-row>
                <ion-col style="width:100px;height:100px;">
                  <ion-img [src]="'https://i.ndtvimg.com/mt/cooks/2014-11/carrots.jpg'"></ion-img>
                </ion-col>
                <ion-col>Carrot</ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="2">120</ion-col>
            <ion-col size="3">
              <ion-button color="danger" (click)="removeItem(item)"><span class="span-general">-</span></ion-button>
              <ion-button color="light"><span style="color: black; font-weight: bold;">1</span>
              </ion-button>
              <ion-button color="success" (click)="addItem(item)"><span class="span-general">+</span></ion-button>
            </ion-col>
            <ion-col size="2">240</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="4">
        <div style="background-color: burlywood;">
          Summary
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>