<ion-grid>
    <ion-row>
        <ion-col size="3">
            <div class="ion-text-center ion-padding" (click)="loadLoginOrSignup(0)" style="cursor: pointer;">
                <h2>Login</h2>
                <div>Start your journey by logging in</div>
            </div>
            <div class="ion-text-center ion-padding" (click)="loadLoginOrSignup(1)" style="cursor: pointer;">
                <h2>Signup</h2>
                <div>New User? Register</div>
            </div>
        </ion-col>
        <ion-col size="3" style="z-index: 99; border: 1ps solid red;">
            <ion-img [src]="'https://thumbs.dreamstime.com/b/shopping-bag-groceries-18679478.jpg'"></ion-img>
        </ion-col>
        <ion-col size="6">
            <lotus-login *ngIf="canLogin"></lotus-login>
            <lotus-signup *ngIf="!canLogin"></lotus-signup>
        </ion-col>
    </ion-row>
</ion-grid>