<div>
    <h3 class="ion-text-center">Checkout</h3>
    <form #deliveryForm="ngForm" (submit)="deliveryForm.valid && placeOrder(deliveryForm)" novalidate>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <div style="font-weight: 600; font-size: 20px;">
                                            Delivery Option
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <div style="width: 100px; height: 100px;">
                                            <label>
                                                <input type="radio" name="delivery_option" value="self_pickup"
                                                    [(ngModel)]="deliveryOption" />
                                                <img
                                                    [src]="'https://www.mageplaza.com/assets/img/extensions/store-pickup.png'" />
                                            </label>
                                        </div>
                                        <div>Pickup from store</div>
                                    </ion-col>
                                    <ion-col>
                                        <div style="width: 100px; height: 100px;">
                                            <label>
                                                <input type="radio" name="delivery_option" value="home_delivery"
                                                    [(ngModel)]="deliveryOption" />
                                                <img
                                                    [src]="'https://spiderimg.amarujala.com/assets/images/2020/03/27/750x506/home-delivery_1585296150.jpeg'" />
                                            </label>
                                        </div>
                                        <div>Home Delivery</div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card *ngIf="deliveryOption === 'home_delivery'">
                        <ion-card-content>
                            <ion-grid class="ion-no-padding">
                                <ion-row>
                                    <ion-col>
                                        <div style="font-weight: 600; font-size: 20px;">
                                            Delivery Address
                                        </div>
                                    </ion-col>
                                    <ion-col class="ion-text-end">
                                        <ion-button (click)="loadAddress()">Change</ion-button>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-list *ngIf="userAddress">
                                            <div class="span-content">
                                                {{ userAddress.name | titlecase }}
                                            </div>
                                            <div class="span-content" *ngIf="userAddress.flatNo || userAddress.street">
                                                {{ userAddress.flatNo }}, {{ userAddress.street | titlecase }}
                                            </div>
                                            <div class="span-content">
                                                {{ userAddress.landmark | titlecase }}
                                            </div>
                                            <div class="span-content">
                                                {{ userAddress.area | titlecase }}
                                            </div>
                                            <div class="span-content">
                                                {{ userAddress.city | titlecase }}-{{ userAddress.pincode }}
                                            </div>
                                            <div class="span-content">
                                                <!-- Ph: {{ userAddress.phone_number }} -->
                                                Ph : 9940479677
                                            </div>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row *ngIf="cartTotal">
                <ion-col class="ion-text-center">Price: <span style="font-weight: 600;">${{cartTotal}}</span></ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button type="submit">Place Order</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</div>