// * {
//     background-color: lightcyan;
// }

.scroll-content {
    /**  It is important to have these two properties for scroll to work **/
    overflow: auto;
    height: 100%;
    // to give extra space at bottom of store
    padding-bottom: 100px;
    // animation: mymove 500s infinite;
}

// @keyframes mymove {
//     from {top: 0px;}
//     to {top: 300px;}
//   }

// #one {
//     animation-timing-function: ease-in;
// }