<div class="ion-padding">
    <h3>Top Searches</h3>
    <ion-button color="light" shape="round">Fruits</ion-button>
    <ion-button color="light" shape="round">Vegetables</ion-button>
    <ion-button color="light" shape="round">Rice</ion-button>
    <ion-button color="light" shape="round">Noodles</ion-button>
    <ion-button color="light" shape="round">Biscuits</ion-button>
    <ion-button color="light" shape="round">Milk</ion-button>
    <ion-button color="light" shape="round">Tea</ion-button>
    <h3>Recent Search</h3>
</div>