<ion-grid class="ion-padding" *ngIf="!isLogin">
    <ion-row *ngIf="!fromCheckout">
        <ion-col>
            <ion-item (click)="addAddress()" style="cursor: pointer;">
                <ion-icon name="add-outline" color="success"></ion-icon><span class="span-text">Add Address</span>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4" *ngFor="let userAddress of userAddressData">
            <ion-item class="ion-activatable ripple-parent">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <ion-label *ngIf="userAddress.primaryAddress">
                                <ion-icon name="checkmark-sharp" style="font-size: 24px;"></ion-icon> Default
                                Address
                            </ion-label>
                            <ion-label *ngIf="!userAddress.primaryAddress">
                                {{userAddress.type ? userAddress.type : 'Other'}}
                            </ion-label>
                        </ion-col>
                        <ion-col class="ion-text-end" size="6">
                            <ion-row>
                                <ion-col size="6" *ngIf="fromCheckout" (click)="selectAddress(userAddress)">
                                    <span style="cursor:pointer;" *ngIf="!userAddress.primaryAddress">Select</span>
                                </ion-col>
                                <ion-col size="6" (click)="setPrimary(userAddress)" *ngIf="!fromCheckout">
                                    <span style="cursor: pointer;"  *ngIf="!userAddress.primaryAddress">Set as default</span>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-icon name="create-outline" color="medium"
                                        style="font-size: 24px; cursor:pointer;" (click)="editAddress(userAddress)">
                                    </ion-icon>
                                </ion-col>
                                <ion-col size="3">
                                    <ion-icon name="trash-outline" color="danger"
                                        style="font-size: 24px; cursor:pointer;" (click)="removeAddress(userAddress)">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                            <!-- <span style="font-size: 24px;"> | </span> -->
                        </ion-col>
                    </ion-row>
                    <ion-row (click)="selectAddress(userAddress)">
                        <ion-col>
                            <ion-list>
                                <ion-label>{{ userAddress.name | titlecase }}</ion-label>
                                <ion-label><span>{{ userAddress.flatNo }}</span>
                                    <span *ngIf="userAddress.apartment">,&nbsp;&nbsp;{{ userAddress.apartment }}</span>
                                </ion-label>
                                <ion-label>{{ userAddress.street | titlecase }}</ion-label>
                                <ion-label>{{ userAddress.landmark | titlecase }}</ion-label>
                                <ion-label>{{ userAddress.area | titlecase }}</ion-label>
                                <ion-label>{{ userAddress.city | titlecase }}-{{ userAddress.pincode
                      }}</ion-label>
                                <ion-label>Ph: {{ userAddress.number }}</ion-label>
                            </ion-list>
                        </ion-col>
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>